.inbetween
{
position: relative;;

.site-background
{
    padding: 10rem;
    text-align: center;
    color: black;

    .h3s
    {
        font-family: Gabriola;
        font-weight: bold;
        font-size: 5rem;
    }
    .para, .h3s
    {
        margin: .9rem;
    }
    .para
    {
        font-size: 1rem;
        margin:0 11rem;
        line-height: 16px;
        font-weight:bold;
    }
    .line
    {
        border: black 1.1px solid;
        width: 30%;
        margin-left: 20rem;
        margin-bottom: 1.6rem;
        bottom: 1.3rem;
        justify-content: center;
    }
    .btn2
    {
        margin: 2.0rem 0;
        width: 12rem;
        border: none;
        height:2.5rem;
        color: white;
        background: black;
        opacity: .5;
        transition: all .3s ease;
    
        &:hover
        {
            background: black;
            opacity: 1;
            transition:0.3s ease;
        }
    }
    .offer
    {
        justify-content: center;
        border:1px black solid;
        width: 50rem;
        margin-left: 10rem;
        border-radius: 10rem;
        height:10rem;
        position: relative;
        bottom: 10%;
    
    }

}
}