$menu_orange : #f26925;
$button_red : #ff0000;
$gray : #464646;
$years_color : #f63f21;
$contact_orange : #f63f21 ; 
$star_color : #dbe21e;
$dish_card : #dedcdc;
$menu_card : #edebd3;
$why_color : #f5b417;
$why_background : #edebd3;
$whole_background : #f0f8ff;
$footer_color: #181819;
$menu-text : April Flowers;
$Arial : Arial;
$Futura : Futura;
$roboto: roboto ;
$Brandon_Grotesque : Brandon Grotesque; 
