$color:#2d3e23;
$font: roboto;

@import "./navigation";

@mixin Paragraph($background) {
    color: black;
    font-family: $font;
    text-align: left;
    text-decoration: underline green;
    text-align-last:center;
    text-indent: 20px;
    background: $background;
}

p
{
    @include Paragraph(red);
    @extend h1;
}

body
{
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}


h1
{
    color: aquamarine;
    font-size: 300 px;
    font-family: roboto;
}
button
{
    width: 100px;
    height: 2rem;
    margin-right: 1rem;
    color: white;
    background: black;
    border-radius: 10px;
    &:hover
    {
        background-color: white;
        color: black;
    }
}
